#gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;

}

.square {
    height: 40px;
    width: 40px;
    position: relative;
    
}
.square div{
    font-size: 30px;
    margin: 5px;
    position: relative;
    z-index: 7;
    
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}

.beige{
    background-color: gray;
}
.brown{
    background-color: brown;
}
.white{
    color: white;
}
