#presentation {
    margin: 0 10%;
    border: 2px solid rgb(20, 129, 25);
    border-radius: 8px;
    padding: 10px;
}

#parc {
    background-color: aquamarine;
    display: grid;
    margin: 70px 10%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    border: 1px solid rgb(180, 178, 178);
    border-radius: 10px;
}

#parc:hover {
    border: 1px solid rgb(180, 178, 178);
    box-shadow: 0 0 10px rgb(146, 145, 145);
}

#parc a {
    text-decoration: none;
    color: black;
}

#parc a:hover {
    text-decoration: underline;
    color: rgb(58, 58, 58);
}

img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    grid-row: 1/3;
}