body {
    margin: 0;
    /*padding: 0;*/
    display: flex;
    flex-direction: column;
}

#Logo {
    height: 10%;
    width: 5%;
    border-radius: 50%;
    margin-right: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(20, 129, 25);
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: rgb(20, 129, 25);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: color 0.3s ease;
}

#contact {
    float: right;
}

nav li a:hover {
    color: aquamarine;
}

footer {
    background-color: rgb(204, 202, 202);
    text-align: right;
}